// カラーコード
$color-white: #ffffff;
$color-black: #333333;
$color-gray: #666666;
$color-red: #c63205;
$color-brown: #421f15;
$color-cream: #fef9e6;

// フォントサイズ
$font-size98: 98px;
$font-size92: 92px;
$font-size74: 74px;
$font-size68: 68px;
$font-size64: 64px;
$font-size46: 46px;
$font-size40: 40px;
$font-size34: 34px;
$font-size28: 28px;
$font-size24: 24px;
$font-size18: 18px;
$font-size16: 16px;
$font-size14: 14px;
$font-size12: 12px;
$font-size10: 10px;

// トランジション
$transition-opacity: opacity 0.4s;
$transition-color: background-color 0.4s;
$transition-animation: opacity 1s, transform 1s;

// opacity
$opacity-hover: 0.8;
