.btn-position {
  text-align: right;
}

.btn-position--story, .btn-position--comments {
  text-align: center;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .btn-position--story, .btn-position--comments {
    text-align: right;
  }
}

body {
  line-height: 1.5;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333333;
  background: url("../images/back.jpg");
}

.container {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

.outer {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .sp {
    display: none;
  }
}

.js-animation {
  opacity: 0;
  transition: opacity 1s, transform 1s;
  transform: translateY(50px);
}

.js-animation.show {
  opacity: 1;
  transform: translateY(0);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

textarea {
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}

.breadcrumb {
  padding-top: 30px;
}

.breadcrumb__list {
  font-size: 12px;
  display: flex;
  align-self: start;
}

.breadcrumb__item {
  margin-right: 5px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}

.breadcrumb__item--story {
  margin-right: 5px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.breadcrumb__item--story span {
  margin-left: 5px;
}

.breadcrumb__item--story a:hover {
  text-decoration: underline;
}

.breadcrumb__item a:hover {
  text-decoration: underline;
}

.breadcrumb__item span {
  margin-left: 5px;
}

.cast__title {
  font-size: 34px;
  color: #333333;
}

.cast__bg {
  background: #fef9e6;
  margin-top: 134px;
}

.cast__bg--center {
  background: #fef9e6;
  margin-top: 0;
}

.cast__area {
  margin: 140px 0 60px 0;
}

.cast__list {
  display: block;
  transform: translateY(-115px);
  margin-bottom: -80px;
}

@media (min-width: 768px) {
  .cast__list {
    display: flex;
  }
}

.cast__sub-list {
  display: block;
}

@media (min-width: 768px) {
  .cast__sub-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.cast__text-list {
  padding: 60px 0;
}

@media (min-width: 768px) {
  .cast__text-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.cast__item {
  margin-bottom: 3em;
}

@media (min-width: 768px) {
  .cast__item {
    width: 33.3%;
    padding: 0 15px;
  }
}

.cast__text-item {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .cast__text-item {
    width: 33.3%;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .cast__text-item:nth-child(10), .cast__text-item:nth-child(11), .cast__text-item:nth-child(12) {
    margin-bottom: 0;
  }
}

.cast__text-item:nth-child(12) {
  margin-bottom: 0;
}

.cast__sub-item {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .cast__sub-item {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .cast__sub-item:nth-child(3), .cast__sub-item:nth-child(4) {
    margin-bottom: 0;
  }
}

.cast__sub-item:nth-child(4) {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .cast__sub-item-inner {
    text-align: justify;
    margin-left: 10px;
  }
}

.cast__img {
  width: 220px;
  border-radius: 100%;
}

.cast__sub-img {
  width: 129px;
  height: 129px;
  border-radius: 100%;
}

.cast__info {
  margin: 1em 0;
}

.cast__part {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 8px;
}

.cast__name {
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 8px;
}

.cast__text {
  text-align: justify;
}

.cast__text--center {
  text-align: center;
}

@media (min-width: 768px) {
  .cast__text--center {
    text-align: justify;
  }
}

.cast__btn {
  color: #c63205;
  padding: 5px 35px;
  border: 5px solid #c63205;
  transform: translateY(-30px);
  font-weight: 700;
}

.comments__title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 20px;
}

.comments__caption {
  font-size: 24px;
  color: #333333;
  font-weight: 700;
}

.comments__inner {
  position: relative;
  background: url("../images/comment.jpg") no-repeat 75% center/cover;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .comments__inner {
    background-position-x: center;
  }
}

.comments__inner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.comments__text-area {
  position: relative;
  text-align: justify;
  z-index: 1;
  padding: 30px;
}

@media (min-width: 768px) {
  .comments__text-area {
    padding: 60px;
  }
}

.comments__heading {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1em;
}

.comments__text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .comments__text {
    padding-right: 40%;
  }
}

@media (min-width: 1140px) {
  .comments__text {
    padding-right: 30%;
  }
}

.comments__text--black {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  text-align: justify;
}

.comments__strong {
  margin-left: 8px;
  font-size: 34px;
  color: #ffffff;
}

.comments__btn {
  background: #c63205;
  width: 120px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.comments__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

@media (min-width: 768px) {
  .comments__btn {
    transform: translate(30%, 50%);
  }
}

.comments__list {
  display: block;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .comments__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.comments__item {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .comments__item {
    width: 33.3%;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .comments__item:nth-child(10), .comments__item:nth-child(11), .comments__item:nth-child(12) {
    margin-bottom: 0;
  }
}

.comments__item:nth-child(12) {
  margin-bottom: 0;
}

.comments__info {
  margin-bottom: 10px;
}

.comments__name {
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 8px;
}

.comments__job {
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}

.footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

.footer__inner {
  padding: 20px;
}

.header {
  margin-bottom: 60px;
}

.header.story {
  margin-bottom: 0;
}

.nav__list {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 20px 0;
  text-align: center;
}

.nav__item {
  display: inline-block;
  margin: 0 1em;
  transition: opacity 0.4s;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
}

@media (min-width: 1140px) {
  .nav__item {
    font-size: 12px;
    color: #333333;
    font-weight: 700;
  }
}

.nav__item .en {
  display: none;
}

@media (min-width: 1140px) {
  .nav__item .en {
    display: block;
    font-size: 24px;
    color: #333333;
    font-weight: 700;
  }
}

.nav__item:hover {
  opacity: 0.8;
}

.fv {
  position: relative;
  background: url("../images/header.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.fv::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.fv-child {
  position: relative;
  background: url("../images/header.jpg") no-repeat center/cover;
}

.fv-child.story {
  position: relative;
  background: url("../images/story.jpg") no-repeat center/cover;
}

.fv-child.story::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.fv__inner, .fv-child__inner {
  position: relative;
  text-align: center;
  padding: 45px 0;
  z-index: 1;
}

.fv-child__inner {
  padding: 35px 0 0;
}

.fv__desc {
  font-size: 10px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv__desc {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .fv__desc {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .fv__desc {
    font-size: 34px;
    color: #ffffff;
    font-weight: 400;
  }
}

.fv-child__desc {
  font-size: 10px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv-child__desc {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .fv-child__desc {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .fv-child__desc {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1140px) {
  .fv-child__desc {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
  }
}

.fv__title {
  font-size: 28px;
  color: #ffffff;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv__title {
    font-size: 34px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .fv__title {
    font-size: 68px;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .fv__title {
    font-size: 92px;
    color: #ffffff;
  }
}

@media (min-width: 1140px) {
  .fv__title {
    font-size: 98px;
    color: #ffffff;
  }
}

.fv-child__title {
  font-size: 28px;
  color: #ffffff;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv-child__title {
    font-size: 34px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .fv-child__title {
    font-size: 46px;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .fv-child__title {
    font-size: 64px;
    color: #ffffff;
  }
}

@media (min-width: 1140px) {
  .fv-child__title {
    font-size: 74px;
    color: #ffffff;
  }
}

.fv__flex, .fv-child__flex {
  display: block;
}

@media (min-width: 768px) {
  .fv__flex, .fv-child__flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.fv__row {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .fv__row {
    width: 42%;
  }
}

.fv-child__row {
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .fv-child__row {
    align-self: center;
  }
}

.fv__info {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv__info {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .fv__info {
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
  }
}

.fv-child__info {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv-child__info {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .fv-child__info {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .fv-child__info {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1140px) {
  .fv-child__info {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
  }
}

.fv__text {
  color: #ffffff;
  text-align: justify;
}

.fv__btn {
  transform: translateY(-50%);
  background: #c63205;
  width: 180px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.fv__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

.fv-child__btn {
  transform: translateY(50%);
  background: #c63205;
  width: 180px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.fv-child__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

.fv-child__btn--story {
  transform: translateY(20%);
  background: #c63205;
  width: 180px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.fv-child__btn--story:hover {
  background: rgba(198, 50, 5, 0.8);
}

@media (min-width: 768px) {
  .fv-child__btn--story {
    transform: translateY(-25%);
  }
}

.fv-child__intro {
  padding: 55px 0;
}

.fv-child__heading {
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 54px;
}

.fv-child__lead {
  text-align: justify;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .fv-child__lead {
    margin-left: 50%;
  }
}

.news__title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .news__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.news__item {
  margin-bottom: 30px;
  transition: opacity 0.4s;
}

@media (min-width: 768px) {
  .news__item {
    max-width: 33.3%;
    padding: 0 15px;
  }
  .news__item:hover {
    opacity: 0.8;
  }
}

.news__item-inner {
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .news__item-inner {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4),
  .top .news__item:nth-child(5) {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4) .news__item-inner,
  .top .news__item:nth-child(5) .news__item-inner {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4) .news__item-inner .news__img,
  .top .news__item:nth-child(5) .news__item-inner .news__img {
    width: 42%;
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4) .news__item-inner .news__content,
  .top .news__item:nth-child(5) .news__item-inner .news__content {
    width: 58%;
  }
}

.news__content {
  padding: 1em;
  text-align: left;
  height: 100%;
  background: #ffffff;
}

.news__time {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
}

.news__btn {
  background: #c63205;
  width: 120px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.news__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

@media (min-width: 768px) {
  .news__btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.news-article__inner {
  max-width: 1024px;
  margin: 0 auto;
}

.news-article__head {
  color: #ffffff;
  text-align: left;
  background: #333333;
  padding: 18px 30px;
}

.news-article__head-title {
  font-size: 24px;
  color: #ffffff;
}

.news-article__lead {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .news-article__lead {
    font-size: 24px;
    color: #333333;
  }
}

.news-article__lead:nth-of-type(2) {
  margin-bottom: 2em;
}

.news-article__body {
  background: #fef9e6;
  padding: 30px;
  text-align: justify;
}

.news-article__body p {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 2em;
}

.news-article__body h4 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 1em;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 60px;
}

.page-navigation__item {
  display: flex;
  align-items: center;
}

.page-navigation__img {
  width: 32px;
  height: 32px;
}

.post-next {
  text-align: right;
  margin-right: 12px;
}

.post-prev {
  text-align: left;
  margin-left: 12px;
}

.schedule__inner {
  background: rgba(255, 255, 255, 0.3);
  padding: 30px;
  margin-bottom: 30px;
}

.schedule__title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 30px;
}

.schedule__list {
  display: inline-block;
  text-align: center;
}

.schedule__item {
  text-align: left;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .schedule__item {
    margin-bottom: 15px;
  }
}

.schedule__text {
  display: block;
  font-size: 18px;
  color: #333333;
  font-weight: 400;
}

@media (min-width: 768px) {
  .schedule__text {
    display: inline-block;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .schedule__text:nth-child(2), .schedule__text:nth-child(3) {
    margin-right: 20px;
  }
}

.schedule__text:nth-child(4) {
  margin-right: 0;
}

.schedule__link {
  text-decoration: underline;
}

.schedule__btn {
  background: #c63205;
  width: 193px;
  height: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.schedule__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

.schedule__btn--brown {
  background: #421f15;
  width: 193px;
  height: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
  margin-bottom: 20px;
}

.schedule__btn--brown:hover {
  background: rgba(198, 50, 5, 0.8);
}

@media (min-width: 768px) {
  .schedule__btn--brown {
    margin: 0 20px 0 0;
  }
}

.introduction__inner {
  background: rgba(255, 255, 255, 0.3) url(../images/intro.png) no-repeat left top/30%;
  padding: 20px;
}

@media (min-width: 768px) {
  .introduction__inner {
    background-size: 210px;
    padding: 48px;
  }
}

.introduction__title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .introduction__title {
    font-size: 34px;
    color: #333333;
  }
}

.introduction__lead {
  font-size: 15px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 360px) {
  .introduction__lead {
    font-size: 18px;
    color: #333333;
  }
}

@media (min-width: 768px) {
  .introduction__lead {
    font-size: 24px;
    color: #333333;
    margin-bottom: 30px;
  }
}

.introduction__column {
  text-align: justify;
}

@media (min-width: 768px) {
  .introduction__column {
    columns: 2;
    column-gap: 2em;
  }
}

.introduction__text {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}

.introduction__text:not(:first-child) {
  margin-top: 1em;
}

.story__bg {
  background: url("../images/story.jpg") no-repeat center/cover;
}

.story__title {
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 20px;
}

.story__inner {
  padding: 30px 0 50px;
}

.story__text-area {
  text-align: justify;
}

@media (min-width: 768px) {
  .story__text-area {
    margin-left: 50%;
  }
}

.story__text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.story__text:not(:first-child) {
  margin-top: 1em;
}

.story__btn {
  background: #c63205;
  width: 120px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.story__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

.synopsis-bg1 {
  background: url("../images/synopsis-bg1.png") no-repeat center/cover;
}

.synopsis-bg2 {
  background: url("../images/synopsis-bg2.png") no-repeat center/cover;
}

.synopsis-bg3 {
  background: url("../images/synopsis-bg3.png") no-repeat center/cover;
}

.synopsis__left {
  padding: 45px 0;
}

@media (min-width: 768px) {
  .synopsis__left {
    margin-right: 50%;
    padding: 40px 0;
  }
}

@media (min-width: 1024px) {
  .synopsis__left {
    padding: 60px 0;
  }
}

.synopsis__right {
  padding: 45px 0;
}

@media (min-width: 768px) {
  .synopsis__right {
    margin-left: 50%;
    padding: 40px 0;
  }
}

@media (min-width: 1024px) {
  .synopsis__right {
    padding: 60px 0;
  }
}

.synopsis__text {
  text-align: justify;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.inquiry__inner {
  background: rgba(255, 255, 255, 0.3);
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 15px;
}

@media (min-width: 768px) {
  .inquiry__inner {
    padding: 40px;
  }
}

.inquiry__title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 24px;
}

.inquiry__text {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  text-align: justify;
}

.inquiry__text--center {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

.form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.form__row {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .form__row {
    display: flex;
    align-items: center;
  }
}

.form__text {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  margin-right: 12px;
  text-align: left;
}

@media (min-width: 768px) {
  .form__text {
    width: 25%;
    text-align: right;
  }
}

.form__area {
  background: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  .form__area {
    width: 75%;
  }
}

.form input,
.form textarea {
  width: 100%;
  padding: 7px;
}

.submit-btn {
  background: #c63205;
  width: 120px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.submit-btn:hover {
  background: rgba(198, 50, 5, 0.8);
}
