*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

.nav__list {
  display: flex;
}

.nav__item {
  display: block;
}

body {
  line-height: 1.5;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333333;
  background: url("../images/back.jpg");
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  text-align: center;
  margin-bottom: 60px;
}
