.btn-position {
  text-align: right;
}

.btn-position--story {
  text-align: center;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .btn-position--story {
    text-align: right;
  }
}

body {
  line-height: 1.5;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333333;
  background: url("../images/back.jpg");
}

.container {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

.section {
  text-align: center;
  margin-bottom: 60px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

.comments__title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 20px;
}

.comments__caption {
  font-size: 24px;
  color: #333333;
  font-weight: 700;
}

.comments__inner {
  position: relative;
  background: url("../images/comment.jpg") no-repeat center/cover;
  margin: 20px 0;
}

.comments__inner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.comments__text-area {
  position: relative;
  text-align: justify;
  padding: 60px;
  z-index: 1;
}

.comments__heading {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1em;
}

.comments__text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  padding-right: 30%;
}

.comments__strong {
  font-size: 24px;
  color: #ffffff;
  margin-left: 8px;
}

.comments__btn {
  background: #c63205;
  width: 120px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
  transform: translate(30%, 50%);
}

.comments__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

.header {
  margin-bottom: 60px;
}

.nav__list {
  display: block;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 20px 0;
  text-align: center;
}

.nav__item {
  display: inline-block;
  margin: 0 1em;
  transition: opacity 0.4s;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
}

@media (min-width: 1140px) {
  .nav__item {
    font-size: 12px;
    color: #333333;
    font-weight: 700;
  }
}

.nav__item .en {
  display: none;
}

@media (min-width: 1140px) {
  .nav__item .en {
    display: block;
    font-size: 24px;
    color: #333333;
    font-weight: 700;
  }
}

.nav__item:hover {
  opacity: 0.8;
}

.fv {
  position: relative;
  background: url("../images/header.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.fv::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.fv__inner {
  position: relative;
  text-align: center;
  padding: 40px 0;
  z-index: 1;
}

.fv__desc {
  font-size: 10px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv__desc {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .fv__desc {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .fv__desc {
    font-size: 34px;
    color: #ffffff;
    font-weight: 400;
  }
}

.fv__title {
  font-size: 28px;
  color: #ffffff;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv__title {
    font-size: 34px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .fv__title {
    font-size: 68px;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .fv__title {
    font-size: 92px;
    color: #ffffff;
  }
}

@media (min-width: 1140px) {
  .fv__title {
    font-size: 98px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .fv__flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.fv__row {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .fv__row {
    width: 42%;
  }
}

.fv__info {
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 360px) {
  .fv__info {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .fv__info {
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
  }
}

.fv__text {
  color: #ffffff;
  text-align: justify;
}

.fv__btn {
  transform: translateY(-50%);
  background: #c63205;
  width: 180px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.fv__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

.news {
  position: relative;
}

.news__title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .news__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.news__item {
  margin-bottom: 30px;
  transition: opacity 0.4s;
}

@media (min-width: 768px) {
  .news__item {
    max-width: 33.333333%;
    padding: 0 15px;
  }
  .news__item:hover {
    opacity: 0.8;
  }
}

.news__item-inner {
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .news__item-inner {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4),
  .top .news__item:nth-child(5) {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4) .news__item-inner,
  .top .news__item:nth-child(5) .news__item-inner {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4) .news__item-inner .news__img,
  .top .news__item:nth-child(5) .news__item-inner .news__img {
    width: 42%;
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .top .news__item:nth-child(4) .news__item-inner .news__content,
  .top .news__item:nth-child(5) .news__item-inner .news__content {
    width: 58%;
  }
}

.news__content {
  padding: 1em;
  text-align: left;
  height: 100%;
  background: #ffffff;
}

.news__time {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
}

.news__text {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}

.news__btn {
  background: #c63205;
  width: 120px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.news__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}

@media (min-width: 768px) {
  .news__btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.introduction {
  background: rgba(255, 255, 255, 0.3) url(../images/intro.png) no-repeat left top/30%;
}

@media (min-width: 768px) {
  .introduction {
    background-size: 210px;
  }
}

.introduction__inner {
  padding: 20px;
}

@media (min-width: 768px) {
  .introduction__inner {
    padding: 48px;
  }
}

.introduction__title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .introduction__title {
    font-size: 34px;
    color: #333333;
  }
}

.introduction__lead {
  font-size: 15px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 360px) {
  .introduction__lead {
    font-size: 18px;
    color: #333333;
  }
}

@media (min-width: 768px) {
  .introduction__lead {
    font-size: 24px;
    color: #333333;
    margin-bottom: 30px;
  }
}

.introduction__column {
  text-align: justify;
}

@media (min-width: 768px) {
  .introduction__column {
    columns: 2;
    column-gap: 2em;
  }
}

.introduction__text {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}

.introduction__text:not(:first-child) {
  margin-top: 1em;
}

.story {
  position: relative;
  background: url("../images/story.jpg") no-repeat center/cover;
}

.story__title {
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 20px;
}

.story__inner {
  padding: 30px 0 50px;
}

.story__text-area {
  text-align: justify;
}

@media (min-width: 768px) {
  .story__text-area {
    margin-left: 50%;
  }
}

.story__text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.story__text:not(:first-child) {
  margin-top: 1em;
}

.story__btn {
  background: #c63205;
  width: 120px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.4s;
}

.story__btn:hover {
  background: rgba(198, 50, 5, 0.8);
}
